@import "../../main.scss";

$lightGreen: hsl(78, 69%, 35%);
$darkGreen: hsl(91, 71%, 27%);
$lighterGrey: lighten($lightGrey, 25%);

.productCard {
  display: flex;
  flex-flow: column;
  // align-items: center;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  border-left: 0.125rem solid $darkGrey;
  border-right: 0.125rem solid $darkGrey;

  > * {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.productCard:first-child {
  border-left: none;
}

.productCard:last-child {
  border-right: none;
}

.imageContainer {
  align-self: center;

  > img {
    display: block;
    max-width: 100%;
  }
}

.name {
  font-weight: 700;
  letter-spacing: 0.125em;
}

.ingridients {
  font-size: 0.75rem;
  color: $lighterGrey;
  font-weight: 700;
}

.dependentOption {
  color: $lightGreen;
}

.order {
  color: white;
  display: block;
  background-color: $lightGreen;
  background: linear-gradient(
    $lightGreen,
    $lightGreen 50%,
    $darkGreen 50%,
    $darkGreen
  );
  border-radius: 2.25rem/2rem;
  border: none;
  letter-spacing: 0.125em;
  font-weight: 500;
  padding: 0.5rem 1rem;
  align-self: center;
  text-transform: uppercase;
}

.option {
  text-transform: uppercase;
  background: none;
  border: none;
  color: $lighterGrey;
  line-height: 2rem;
  padding: 0;

  &:focus {
    outline: none;
    color: white;
  }
}

.option::after {
  content: "";
  display: block;
  background: $lighterGrey;
  border-radius: 0.125rem;
  height: 0.25rem;
  width: 100%;
}

.optionActive {
  color: white;
  text-shadow: 0 0 0.5rem fade-out(white, 0.25);
  font-size: 1.25rem;
  line-height: 2rem;
}

.optionActive::after {
  content: "";
  display: block;
  background: $lightGreen;
  border-radius: 0.125rem;
  height: 0.25rem;
  width: 100%;
}
