@import "../../main.scss";
.productCard {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  border-left: 0.125rem solid $darkGrey;
  border-right: 0.125rem solid $darkGrey;
  max-width: 20rem;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  height: 100%;
  >* {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.productCard:first-child {
  border-left: none;
}

.productCard:last-child {
  border-right: none;
}

.imageContainer {
  align-self: center;
  >img {
    display: block;
    width: 100%;
  }
}

.name {
  font-weight: 700;
  letter-spacing: 0.125em;
}

.ingridients {
  font-size: 0.75rem;
  color: $lighterGrey;
  font-weight: 700;
  flex: 1;
}

.dependentOption {
  color: $lightGreen;
}

.option {
  text-transform: uppercase;
  background: none;
  border: none;
  color: $lighterGrey;
  line-height: 2rem;
  padding: 0;
  transition: all 0.25s; // padding: 0 0.25rem;
  &:focus {
    outline: none;
    color: white;
  }
}

.option::after {
  content: "";
  display: block;
  background: fade-out($lighterGrey, 0.5);
  border-radius: 0.125rem;
  height: 0.25rem;
  width: 100%;
}

.optionActive {
  color: white; // text-shadow: 0 0 0.5rem fade-out(white, 0.25);
  font-size: 1.25rem;
  line-height: 2rem;
}

.optionActive::after {
  content: "";
  display: block;
  background: $lightGreen;
  border-radius: 0.125rem;
  height: 0.25rem;
  width: 100%;
}

.badge {
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 50%;
  background: hsl(33, 99%, 50%);
}