@import "../../main.scss";

.signupBannerWrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
  min-width: 30rem;
}

.signupBanner {
  padding: 1rem;
  flex: 1;
  color: lighten($lightGrey, 20%);
  font-weight: 500;
  line-height: 2;
  font-size: 1.25rem;
}

.signupButton {
  background-color: $lightGreen;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  letter-spacing: 0.125rem;

  &:focus,
  &:hover {
    background-color: $darkGreen;
  }
}

.meteorValue {
  font-size: 4rem;
  line-height: 4.5rem;
  font-weight: 700;
  color: $orange;
}

.meteorCurrency {
  color: $orange;
  font-size: 2rem;
  line-height: 3rem;
}

.imageWrapper {
  flex: 1 1;

  > img {
    max-width: 100%;
  }
}
