@import "../../main.scss";

.Navbar {
  background: $darkBlue;
  height: 4rem;
}

.topNavbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  letter-spacing: 0.125rem;

  a {
    @extend .lightLink;

    &:hover,
    &:focus {
      text-shadow: 0 0 3em $orange;
    }
  }
}

.topNavbarSeparator {
  height: 2.5rem;
  width: 0.125rem;
  background-color: $darkGrey;
}

.logo {
  display: block;
  max-width: 100%;
  max-height: 2.5rem;
}

.phoneBlock {
  flex: 1 1;
  text-align: center;
  text-transform: uppercase;
}

.phone {
  color: $lighterGrey;
  font-weight: 700;
  white-space: nowrap;
}

.callMe {
  background-color: $darkBlue;
  border: 0.125rem solid $lightGrey;
  color: $lighterGrey;
  font-weight: 700;
  padding: 0 0.75rem;
  border-radius: 0.25rem;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: lighten($lighterGrey, 10%);
    border-color: lighten($lighterGrey, 10%);
  }
}
