$darkBlue: hsl(232, 60%, 5%);
$blue: hsl(226, 54%, 13%);
$yellow: hsl(49, 95%, 55%);
$orange: hsl(33, 99%, 50%);
$redOrange: hsl(10, 73%, 52%);
$darkGrey: hsl(199, 20%, 15.5%);
$grey: hsl(200, 23%, 23.5%);
$lightGrey: hsl(199, 28%, 31.5%);
$lightGreen: hsl(78, 69%, 35%);
$darkGreen: hsl(91, 71%, 27%);
$lightGreen: hsl(78, 69%, 35%);
$darkGreen: hsl(91, 71%, 27%);

$lighterGrey: lighten($lightGrey, 25%);

body {
  color: lightgray;
}

:global {
  // Font-Awesome icons
  .fa {
    min-width: 1rem;
    text-align: center;
  }
}

.lightLink {
  color: white;

  &:hover,
  &:focus {
    color: $orange;
    text-decoration: none;
  }
}

.darkLink {
  color: $darkBlue;

  &:hover,
  &:focus {
    color: white;
    text-decoration: none;
  }
}
