$darkBlue: hsl(232, 60%, 5%);
$blue: hsl(226, 54%, 13%);
$yellow: hsl(49, 95%, 55%);
$orange: hsl(33, 99%, 50%);
$redOrange: hsl(10, 73%, 52%);
$darkGrey: hsl(199, 20%, 15.5%);
$grey: hsl(200, 23%, 23.5%);
$lightGrey: hsl(199, 28%, 31.5%);
$lightGreen: hsl(78, 69%, 35%);
$darkGreen: hsl(91, 71%, 27%);
$lightGreen: hsl(78, 69%, 35%);
$darkGreen: hsl(91, 71%, 27%);
$lighterGrey: lighten($lightGrey, 25%);

body {
  color: lightgray;
}

:global {
  // Font-Awesome icons
  .fa {
    height: 1em;
    min-width: 1em;
    text-align: center;
  }

  // Color
  .text-lightgreen {
    color: $lightGreen !important;
  }
  .text-lightgrey {
    color: $lightGrey !important;
  }
  .text-lightergrey {
    color: $lighterGrey !important;
  }

  // Background color
  .bg-darkblue {
    background-color: $darkBlue !important;
  }
  .bg-orange {
    background-color: $orange !important;
  }

  // Letter spacing
  .ls-1 {
    letter-spacing: 0.0625em !important; // 1/16
  }
  .ls-2 {
    letter-spacing: 0.125em !important; // 1/8
  }
  .ls-2 {
    letter-spacing: 0.25em !important; // 1/4
  }

  // Font weight
  .fw-thin {
    font-weight: 100 !important;
  }
  .fw-extralight {
    font-weight: 200 !important;
  }
  .fw-light {
    font-weight: 300 !important;
  }
  .fw-normal {
    font-weight: 400 !important;
  }
  .fw-medium {
    font-weight: 500 !important;
  }
  .fw-semibold {
    font-weight: 600 !important;
  }
  .fw-bold {
    font-weight: 700 !important;
  }
  .fw-extrabold {
    font-weight: 800 !important;
  }
  .fw-black {
    font-weight: 900 !important;
  }
}
